.container {
  display: flex;
  width: 1440rem;
  justify-content: center;
  // background:red;
  .employmentTimeline {
    display: flex;
    align-items: center;
    gap: 20rem;
    flex-direction: column;
  }
  .period {
    width: 0;
  }

  
}
